@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap");
body {
  margin: auto;
  color: white;
  min-width: 350px;
  max-width: 1024px;
  background-color: #403f3f;
  font-family: "Source Sans Pro", sans-serif;
}
body main {
  margin: 0rem;
}

.container {
  padding: 0 1.5rem;
}

.section-heading {
  font-size: xx-large;
}

a {
  color: #5387f7;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  margin: 1.5rem 0.5rem;
  min-height: 3.5rem;
  border-radius: 3rem;
  font-weight: bold;
}
nav div {
  flex-grow: 1;
  text-align: center;
  line-height: 3.5rem;
}
nav div:first-child {
  border-radius: 3rem 0 0 3rem;
}
nav div:last-child {
  border-radius: 0 3rem 3rem 0;
}
nav div:hover {
  background-color: #333333;
  cursor: pointer;
}

/* home page */
#hero {
  background-color: #403f3f;
  padding: 0 1.5rem;
  height: 80vh;
  min-height: 650px;
  max-height: 800px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
#hero #hero-content #hero-text {
  margin-bottom: 0.25rem;
}
#hero #hero-content #hero-break {
  display: none;
}
#hero #hero-content #social-links {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
#hero #hero-content #social-links i {
  margin-right: 0.25rem;
  color: white;
}
#hero #hero-research {
  display: none;
}
#hero img {
  position: absolute;
  height: 75%;
  padding: 0;
  bottom: 0;
  right: 0.25rem;
}

#research {
  color: black;
  background-color: white;
  padding: 3rem 1.5rem;
}
#research h1 {
  margin: 0;
}
#research ul {
  font-size: 1.2rem;
}

/* about page */
.about {
  margin-bottom: 2.5rem;
}

#about-info a {
  color: white;
}

/* publications page */
li {
  margin-bottom: 2rem;
}

/* reading group page */
h2 {
  margin-top: 3rem;
}

#discussion-schedule h2 {
  margin-top: 5rem;
}
#discussion-schedule h3 {
  margin-top: 3rem;
}

@media only screen and (min-width: 600px) {
  nav {
    margin: 2.5rem 1.5rem 3rem 1.5rem;
    font-size: 1.125rem;
  }

  .container {
    padding: 0 3.5rem;
  }

  #hero #hero-content {
    margin-left: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    margin: 2.5rem 1.5rem 4.5rem 1.5rem;
    font-size: 1.25rem;
  }

  .container {
    padding: 0 4.5rem;
  }

  #hero {
    height: 100vh;
    margin-top: -12rem;
  }
  #hero #hero-content {
    margin-top: 13rem;
    margin-left: 2rem;
    display: inline-block;
  }
  #hero #hero-content #hero-text {
    margin-bottom: 0.25rem;
    font-size: 3rem;
  }
  #hero #hero-content #hero-break {
    display: block;
    margin-top: -1rem;
  }
  #hero #hero-content #social-links {
    font-size: 1.25rem;
  }
  #hero #hero-research {
    display: inline-block;
    color: #ebebeb;
    font-size: 1rem;
    position: absolute;
    left: 3.5rem;
    bottom: 1.5rem;
  }
  #hero #hero-research #hero-interests {
    font-weight: 300;
    color: #cfcfcf;
    margin-top: -1.25rem;
  }

  #research {
    display: none;
  }
}
@media only screen and (min-width: 850px) {
  .container {
    padding: 0 5.5rem;
  }

  #hero {
    margin-top: -9rem;
  }
  #hero #hero-content {
    margin-top: 10rem;
    margin-left: 3rem;
  }
  #hero #hero-research {
    left: 4.5rem;
  }
  #hero img {
    height: 80%;
    right: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  #hero #hero-content {
    margin-left: 4.5rem;
  }
  #hero #hero-content #hero-text {
    font-size: 3.5rem;
  }
  #hero #hero-content #social-links {
    font-size: 1.5rem;
  }
  #hero #hero-research {
    font-size: 1.25rem;
    position: absolute;
    left: 6.125rem;
    bottom: 1.5rem;
  }
  #hero img {
    right: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
