@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

$base-gray: #403f3f;
$nav-gray: #202020;
$link-blue: #5387f7;

body {
    margin: auto;
    color: white;
    background-color: $base-gray;

    main {
        margin: 0rem;
    }

    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    padding: 0 1.5rem
}

.section-heading {
    font-size: xx-large;
}

a {
    color: $link-blue;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: $nav-gray;
    padding: 1.5rem;
    margin: 1.5rem 0.5rem;
    border-radius: 3rem;
}

/* home page */

#hero {
    background-color: $base-gray;
    height: 80vh;
    position: relative;

    #hero-content {
        #hero-text {
            margin-bottom: 0.25rem;
        }

        #social-links {
            margin-top: 1rem;
            margin-bottom: 0.25rem;

            i {
                margin-right: 0.25rem;
                color: white;
            }
        }
    }
    

    img {
        position: absolute;
        height: 75%;
        right: -1.5rem;
        bottom: 0;
    }
}


#research {
    color: black;
    background-color: white;
    padding: 3rem 1.5rem;

    h1 {
        margin: 0;
    }

    ul {
        font-size: 1.2rem;
    }
}

#reading-group {
    background-color: $base-gray;
    padding-top: 3rem;
    padding-bottom: 3rem;

    a {
        color: white;
    }
}

/* about page */

#about-info {
    a {
        color: white;
    }
}