nav {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;

    #logo {
        margin: 1rem;
    }

    #nav-links {
        .dropdown {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            padding: 0.5rem;

            a {
                text-decoration: none;
            }
        }

        .dropdown-content {
            list-style-type: none;
            display: none;

            a {
                display: block;
                background-color: #f1f1f1;
                padding: 0.5rem;
                cursor: pointer;
                text-decoration: none;
                color: #000;
                font-family: Arial, Helvetica, sans-serif;

                &:hover {
                    background-color: #555;
                }
            }
        }

        &:hover {
            .dropdown-content {
                display: block;
            }
        }
    }
}
